/*

  Name: SimonGame
  Author: Kameron Fincher
  Description: CSS styling added on top
  of SLDS stylings

*/

.THIS .slds-theme_backgroundColor-red {
     background-color:red;
}
.THIS .slds-theme_backgroundColor-blue {
    background-color:blue; 
}
.THIS .slds-theme_backgroundColor-green {
     background-color:green;
}
.THIS .slds-theme_backgroundColor-yellow {
    background-color:yellow;
}
.THIS .color-box {
    opacity:.4;
}
#GameContainer.THIS {
    margin:10% auto;
    border: 5px solid black;
    width:50%;
	padding: 2.5% 5% 2% 2.5%;
    background-color:#adadad;
}